@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
i{
    color: white;
    display: inline-block;
    padding: 10px;
    margin-top: 190px;
    margin-left: 30px;
}
i:hover{
    color: red;
    border: 2px solid red;
     border-radius: 50%;
}
.border{
  text-align: center;
  justify-items: center;
  height: 250px;
  width: 10px;
  background-color: red;
  border-radius: 16px;
  margin-right: 12px;
}

*{
    padding: 0;
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.navbar{
     height: 760px;
     width: 100%;
     background-image:url(../images/me.jpg);
     background-position: center;
     background-size: cover;

}
nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 26px;
    
    
}
nav a{ 
    color: ghostwhite;
    text-decoration: none;
    
    
}
a:hover{
    color:red;
    
}
.btn:hover{
    border-color:red;
    

}
.logo{
    
    text-decoration: none;
    font-size: larger;
    position: relative;
    margin-left: 20px;
    animation-name: box1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes box1{
     form{
      color:white;
      
     } 
     to{
      color:red;
     

     } 
}
span{
  color: red;
}
.btn{
    border: 2px solid white ;
    background-color:red;
    color: white;
    margin-right: 25px;
    font-weight: bold;
    padding: 10px 25px;
}
.nav2{
    width: 25%;
    display: flex;
    align-items: center;
    
}
h1{
    color: white;
    
    font-size: 75px;
    font-weight: 900;
    
}
.container{
    
    display: flex;
    
    color: white;
}
.left{
    width: 50%;
}
.right{
    
    width: 50%;
    justify-content: end;
    padding-top: 200px;
    font-weight: bold;
    font-size: larger;
    align-items: center;
    padding-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.align-right{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
p{
    font-style: italic;
    font-size: medium;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.news form input:first-child{
    display: inline-block;
    width: 25%;
    padding: 14px 13px 14px 13px;
    border:2px solid white;
    margin-top: 300px;
    margin-left: 35px;
    border-radius: 30px;
    background-color:white;
    font-weight: bold;
    outline: none;
}
.news form input:first-child:hover{
  font-size: 15px;
}
.news form input:last-child{
    display: inline-block;
    outline: none;
    border: 2px solid white;
    padding: 10px 12px;
    border-radius: 30px;
    background-color: red;
    
    top: 6px;
    right: 6px;
    width: 100px;
}
.news form input:last-child:hover{
    border: red;
    font-size: 15px;
}

.news:hover{
    border: red;
}
h4{
height: 2rem;
}