*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url(/images/bg-c.png); 
}
header{
    width: 50%;
    padding-left: 25px;
    padding-top: 30px;
}
nav{
    display: inline-block;
}
a{
    padding-inline: 30px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
a:hover{
    color: blue;
}
footer{
    padding: 15px;
    margin-top: 130px;
}
i{
    padding-inline: 15px;
    font-size: 20px;
}
i:hover{
    border: 2px solid blue;
    border-radius: 10px;
}
.container{
    display: flex;
    width: 80%;
    padding-top: 200px;
    font-size: 20px;
    margin-left: 300px;
}
.right{
   
    width: 50%;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
}
.left{
    width: fit-content;
    justify-content: center;
    align-items: center;
}
h1{
    color: blue;
    padding-bottom: 20px;

}