*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url(/images/bg-c.png); 
}
header{
    width: 50%;
    padding-left: 25px;
    padding-top: 30px;
}
nav{
    display: inline-block;
}
a{
    padding-inline: 30px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
a:hover{
    color: blue;
}
footer{
    padding: 15px;
    margin-top: 330px;
}
i{
    padding-inline: 15px;
    font-size: 20px;
}
i:hover{
    border: 2px solid blue;
    border-radius: 10px;
}
h1{
    text-align: center;
    justify-content: center;
    margin: 50px auto;
    font-size: 60px;
}
th,li{
    color: black;
    border-radius: 10%;   
}
h3{
    font-size: 25px;
}
table{
    margin: 10px 10px;
    width: 80%;
    margin: auto;
    height: 150px;
   
}
li{
    border: 2px solid blue;  
}
li:hover{
    text-transform: capitalize;
    font-size: 30px;
    border-color: red;
}